section{
	&#banner{
	    position: relative;
		overflow: hidden;
		.slick-slide{
			height: auto;
    		figure{
    			display: flex;
    			align-items: center;
    			justify-content: center;
    			padding-top: 30%;
    			width: 100%;
    			position: relative;
    			overflow: hidden;
    			background-position: center;
    			background-size: cover;
    			background-repeat: no-repeat;
				img{
					width: 100%;
					height: auto;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
    		}
		}
		@media(max-width: 767px){
			display: none;
		}
	}
	&#sobre{
		h1{
			color: $primarycolor;
			text-transform: uppercase;
			margin:30px 0;
		}
		h2{
			text-transform: uppercase;
		}
		img{
			display: block;
			margin:auto;
			max-width: 100%;
		}
		a{

		}
	}
	&#blog{
		.title{
			margin-bottom: 50px;
		}
		.item{
			display: flex;
			margin-bottom: 30px;
			a{
				display: flex;
				.texto{
					width: 100%;
					padding: 20px 30px;
					border: 1px solid #ddd;
					transition: all ease .3s;
					border: 1px solid #ddd;
					color: #fff;
					display: flex;
					flex-direction: column;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					h2{
						margin-top: 0;
						font-weight: 700;
					}
					h3{
						margin-top: 0;
						font-weight: 700;
					}
					h4{
						color: $primarycolor;
						margin-bottom: 40px;
					}
					p{
						font-style: italic;
					}
					&:hover {
						border: 1px solid #777;
					}
				}
			}
		}
		.item-2{
			a{
				.texto{
					background: #dedede;
					color: #333;
					padding: 15px;
				}
			}
		}
        .single-blog{
            .blog-title{
                h4{
                    a{
                        &:hover{
                            color: #52cca7;
                        }
                    }
                }
            }
        }
	}
	&#contato{
		/* background-size:cover;
		background-image: linear-gradient($overlaycolor, $overlaycolor), url('image/bg-contact.jpg'); */
		h2{
			color: #fff;
			text-transform: uppercase;
		}
		form{
			margin:50px 0;
		}
	}
    &.video-section{
        .video-wrapper{
            .video-thumb{
                .video-btn{
                    a{
                        color: #27393b;
                    }
                }
            }
        }
    }
    &.subscribe-section{
        .subscribe-wrapper{
            .subscribe-form{
                button{
                    color: #283f3f;
                }
            }
        }
    }
    &#team{
        .single-team{
            .team-img{
                .team-social-links{
                    background-color: #54c1a0;
                }
            }
        }
    }
    &#subscribe{
        form{
            &#newsletter{
                .input-wrapper{
                    padding: 0 10px;
                    input{
                        width: 100%;
                    }
                }
                .theme-btn{
                    display: inline-block;
                    font-weight: 600;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    user-select: none;
                    //padding: 17px 44px;
                    font-size: 20px;
                    border-radius: 50px;
                    color: #313450;
                    cursor: pointer;
                    z-index: 5;
                    transition: all .4s ease-in-out;
                    border: none;
                    background: #fff;
                    padding: 0;
                    &:hover{
                        color: #fff;
                        background-color: #52cca7;
                    }
                }
            }
        }
    }
}
#mapa{
	height: 400px;
}